==
<!DOCTYPE html>
<html lang="en">
    {% partial "head" %}
    <body>
        <header>
            {% partial "menu" %}
        </header>
        <div class="theme-body" id="bodydiv">
            {% page %}
        </div>
        <footer>
        <script src="{{ [
                '@jquery',
				'../../node_modules/imagesloaded/imagesloaded.pkgd.min.js',
      
				'assets/javascript/app.js'
            ]|theme }}">
        </script>
		{% framework extras %}
        {% scripts %}
        {% styles %}
        </footer>
    </body>
</html>
