.theme-body {
	position: absolute;
	top: 0;
	//left: 20%;
	background-color: #eeeeee;
	max-width: 100%;
	width: 100%;
	height: 100%;
	padding: 0;
}

.cover {
	position: relative;
	top: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	margin: 0;
	background-size: cover;
	background-position: center;
	@media #{$large} {
		background-position: left;
	}
}

.text-box {
	padding: 20px;
	margin: 20px;
	background-color: rgba(0,0,0,0.1);
}

.simple-text {
	font-family: $font_A;
	font-size: 0.75rem;
	line-height: 1em;
	color: black;
	@media #{$large} {
		font-size: 2rem;
	}
}
