.theme-body {
	position: absolute;
	top: 0;
	//left: 20%;
	background-color: #eeeeee;
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.cover {
	position: relative;
	top: 0;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 25px;
	background-size: cover;
	background-position: center;
	@media #{$large} {
		background-position: left;
	}
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.text-box {
	padding: 20px;
}

.simple-text {
	font-family: $font_A;
	font-size: 1rem;
	line-height: 1em;
	@media #{$large} {
		font-size: 1.5rem;
	}
}

.white-on-black {
	color: white;
	background-color: rgba(0,0,0,0.5);
}

.white-on-white {
	color: white;
	background-color: rgba(255,255,255,0.25);
}

.white-on-grey {
	color: white;
	background-color: rgba(100,100,100,0.75);
}

.black-on-white {
	color: black;
	background-color: rgba(245,245,230,0.75);
}

#bio-text {
	width: 100%;
	@media #{$large} {
		flex-basis: 60%;
		flex-grow: 1;
	}
}

.square-img {
	width: 507px;
	height: 507px;
	margin: 0 0 0 15px;
	flex-basis: 507px;
	flex-grow: 0;
}
