.blog--body {
	width: 100%;
	font-family: $font_B;
}

.blog--content {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	@media #{$large} {
		margin: 3em auto 0;
	}
}
.blog--post-container {
	display: inline-block;
	@media #{$large} {
		margin: 20px;
	}
}

.blog--post-content {
	background: white;
	border-radius: 10px;
	max-width: 900px;
	width: 100%;
	font-size: 0.75rem;
	padding: 10px;
	@media #{$medium} {
		padding: 20px;
		font-size: 1rem;
	}
	iframe {
		display: block;
		margin: 20px auto;
		width: 100%;
		height: auto;
		@media screen and (min-width: 400px) {
			width: auto;
			height: auto;
		}
		@media screen and (min-width: 640px) {
			width: 560px;
			height: 315px;
		}
	}
	img {
		display: block;
		margin: 20px auto;
		width: auto;
		height: auto;
	}
}

.blog--list-container {
	display: none;
	@media #{$large} {
		display: inline-block;
		width: 30%;
		border-left: 1px solid #aaa;
		padding: 20px;
		color: white;
	}
}

.blog--post-list {
	color: black;
	li {
		line-height: 1.5em;
	}
	a {
		text-decoration: underline;

		&:link {
			color: $linkColor;
		}

		&:visited {
			color: $linkColor;
		}
	}
}

