.blog--body {
	width: 100%;
	font-family: $font_B;
}

.blog--content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	@media #{$large} {
		justify-content: flex-end;
		margin: 3em auto 0;
	}
}
.blog--post-container {
	display: inline-block;
	order: 1;
	@media #{$large} {
		order: 0;
		max-width: 65%;
		margin-right: 20px;
	}
}

.blog--post-content {
	background: white;
	border-radius: 10px;
	max-width: 900px;
	width: 100%;
	font-size: 0.75rem;
	padding: 10px;
	@media #{$large} {
		padding: 20px;
		font-size: 1rem;
	}
	iframe {
		display: block;
		margin: 20px auto;
		width: 100%;
		height: auto;
		@media screen and (min-width: 400px) {
			width: auto;
			height: auto;
		}
		@media screen and (min-width: 640px) {
			width: 560px;
			height: 315px;
		}
	}
	img {
		display: block;
		margin: 20px auto;
		width: auto;
		height: auto;
	}
	p {
		margin: 0.75em 0;
	}
	a {
		text-decoration: none;

		&:link {
			color: blue;
		}

		&:visited {
			color: purple;
		}
	}
}

.blog--list-container {
	display: block;
	--blog--post-list-color: black;
	@media #{$large} {
		--blog--post-list-color: white;
	}
	order: 0;
	color: var(--blog--post-list-color);
	width: 100%;
	padding: 10px;
	background: #eee;
	margin: 0 0 10px 0;
	@media #{$large} {
		display: inline-block;
		order: 1;
		width: 30%;
		border-left: 1px solid #aaa;
		padding: 20px;
		color: var(--blog--post-list-color);
		background: transparent;
	}
}

.blog--post-list {

	li {
		line-height: 1em;
		margin: 15px 0;
		@media #{$large} {
			line-height: 1.5em;
			margin: 0;
		}
	}
	a {
		text-decoration: underline;

		&:link {
			color: var(--blog--post-list-color);
		}

		&:visited {
			color: var(--blog--post-list-color);
		}
	}
}

.blog--post-list__closed {
	display: none;
	@media #{$large} {
		display: block;
	}
}
.blog--post-list__open {
	display: block;
}

.blog--dropdown-arrow {
	font-family: 'Open-sans', sans-serif;
	float: right;
	@media #{$large} {
		display: none;
	}
}

