.upcomingevents {
	background: #eeeeee;
	//background: rgba(255,255,255,0.75);
	padding: 10px;
	font-family: $font_B;
	@media #{$large} {
		width: 75%;
		padding: 1em 0;
		margin: 0 auto;
		font-size: 1.5rem;
		> li {
			//margin: 0 0 0 12.5%;
			text-align: center;
		}
	}
}

.events--title {
	font-size: 1em;
}

.events--date {
	font-size: 0.8em;
	margin: 5px 0;
}

.events--venue {
	font-size: 0.75em;
	margin: 5px 0;
}

.events--description {
	display: none;
}
