.title {
	padding: 25px 0 25px 0;
	position: sticky;
	top: 0;
	min-width: 100%;
	z-index: 5;
}
.title-text {
	font-family: $font_B;
	font-size: 8vw;;
	line-height: 1em;
	color: white;
	@media #{$large} {
		font-size: 7vw;
	}
}

.main-title--container {
	padding: 25px 0;
}

.main-title {
	font-family: $font_B;
	color: white;
	font-size: 15vw;
	margin: 50px 0 0 0;
	@media #{$large} {
		font-size: 15vh;
	}
	@media #{$massive} {
		font-size: 20vh;
	}
}

.main-subtitle {
	font-family: $font_B;
	color: white;
	font-size: 15vw;
	margin: 4em 0 0 0;
	@media #{$small} {
		margin: 4em 0 0 0;
	}
	@media #{$medium} {
		margin: 1em 0 0 0;
	}
	@media #{$large} {
		font-size: 15vh;
		margin: 1em 0 0 0;
	}
	@media #{$massive} {
		font-size: 20vh;
		margin: 1em 0 0 0;
	}
}

.cover-A {
	background-image: 
		linear-gradient(
			rgba(0,0,0,0.5),
			rgba(0,0,0,0.5)
		),
		url('/storage/app/media/vampires.jpg');
}

.cover-B {
	background-color: #ffd53b;
}
.cover-C {
	background-color: #6666ff;
}
.cover-D {
	background-color: #ff3333;
}
.cover-E {
	background-color: #88dd88;
}
