.menu-base {
	width: 100%;
	display: block;
	background: transparent;
	height: 50px;
	position: fixed;
	z-index: 10;
}

.menu--title {
	padding: 20px;
	font-family: 'Sanchez';
	font-size: 2rem;
	text-align: left;
	background: #cccccc;
	display: none;
}

.menu--list {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	> li {
		display: inline;
		padding: 15px 30px 15px 30px;
		font-family: 'Sanchez';
		font-size: 1.5vw;
		color: white;
		background: rgba(255,255,255,0);
		line-height: 1.5em;
		cursor: pointer;
		text-align: right;
		&:hover {
			background: rgba(255,255,255,0.25);
		}
	}
}

.gig-list--small {
	background: rgba(255,255,255,0.5);
	padding: 5px 0 5px 20px;
	li {
		font-size: 21px;
		line-height: 1.5em;
	}
}
