.quote {
	font-family: $font_B;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	max-width: 1200px;
	font-size: 4vh;
	height: 40vh;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	@media #{$large} {
		font-size: 2em;
		height: 30vh;
	}
}
.quote--outer {
	width: 100%;
	flex-basis: 100%;
	flex: 1;
	max-width: 100%;
	background-color: rgba(100,100,100,0.3);
}
.quote--name {
	font-size: 0.75em;
	margin: 1em 0 0 0;
}
.quote--text {
	font-size: 1em;
	text-shadow: 3px 3px 20px black;
}
