/*
 * THEME VARIABLES
 */

// Media Queries

$large: 'screen and (min-width: 1000px)';
$medium: 'screen and (min-width: 700px)';
$small: 'screen and (min-width: 480px)';

// Fonts

$font_A: 'Josefin Slab', sans-serif;
$font_B: 'Sanchez', sans-serif;
