/*
 * THEME VARIABLES
 */

// Media Queries

$massive: 'screen and (min-width: 1400px)';
$large: 'screen and (min-width: 900px)';
$medium: 'screen and (min-width: 600px)';
$small: 'screen and (min-width: 480px)';

// Fonts

$font_A: 'Josefin Slab', sans-serif;
$font_B: 'Sanchez', sans-serif;
