==
<head>
	<title>Danny Fischer</title>
    <link rel="stylesheet" href="/themes/dannyfischer/assets/css/styles_17-06-18.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">
	<meta property="og:url" content="http://www.dannyfischer.com.au" />
	<meta property="og:title" content="Danny Fischer. Drummer." />
	<meta property="og:description" content="Danny Fischer is a drummer in Melbourne, Australia." />
	<meta property="og:image" content="http://dannyfischer.com.au/storage/app/media/cover-photo.jpg" />
</head>
