<ul class="gallery--list">
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/jakemasontrio.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/samanning.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/vampiresalbum.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/jeremyrose.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/benstapp.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/bryanhaggards2013.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/jonlundbom.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/jonlundbomaccomplish.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/spoke3.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/spoke2.jpg">
	</li>
	<li>
		<img class="gallery--image" src="storage/app/media/albumcovers/spoke1.jpg">
	</li>
</ul>
